@keyframes shadow-pop-tr {
  0% {
    box-shadow: 0 0 rgba(62, 62, 62, 0.18), 0 0 rgba(62, 62, 62, 0.18),
      0 0 rgba(62, 62, 62, 0.18), 0 0 rgba(62, 62, 62, 0.18),
      0 0 rgba(62, 62, 62, 0.18), 0 0 rgba(62, 62, 62, 0.18),
      0 0 rgba(62, 62, 62, 0.18), 0 0 rgba(62, 62, 62, 0.18);
    transform: translateX(0) translateY(0);
  }
  to {
    box-shadow: 1px -1px rgba(62, 62, 62, 0.18), 2px -2px rgba(62, 62, 62, 0.18),
      3px -3px rgba(62, 62, 62, 0.18), 4px -4px rgba(62, 62, 62, 0.18),
      5px -5px rgba(62, 62, 62, 0.18), 6px -6px rgba(62, 62, 62, 0.18),
      7px -7px rgba(62, 62, 62, 0.18), 8px -8px rgba(62, 62, 62, 0.18);
    transform: translateX(-8px) translateY(8px);
  }
}
.signInChild {
  position: absolute;
  top: 0;
  left: 0;
  width: 597px;
  height: 720px;
  object-fit: cover;
}
.groupChild {
  position: absolute;
  top: 0;
  left: 2px;
  border-radius: var(--br-xs);
  width: 79px;
  height: 50px;
}
.signIn1,
.vectorParent {
  position: absolute;
  width: 141px;
}
.signIn1 {
  top: 81px;
  left: 0;
  display: inline-block;
}
.vectorParent {
  top: 92px;
  left: 880px;
  height: 110px;
  font-size: var(--font-size-5xl);
  color: var(--color-black);
}
.createAFree {
  margin: 0;
}
.createAFreeContainer,
.username {
  position: absolute;
  display: inline-block;
}
.createAFreeContainer {
  top: 373px;
  left: 73px;
  font-size: var(--font-size-base);
  width: 517px;
  height: 47px;
}
.username {
  cursor: pointer;
  top: 0;
  left: 2px;
  font-weight: 700;
  width: 141px;
}
.groupItem,
.usernameParent {
  position: absolute;
  width: 562px;
}
.groupItem {
  border: 1px solid var(--color-silver);
  outline: 0;
  font-family: var(--font-inter);
  font-size: var(--font-size-xs);
  background-color: transparent;
  top: 23px;
  left: 0;
  border-radius: var(--br-9xs);
  box-sizing: border-box;
  height: 41px;
  padding: var(--padding-smi) var(--padding-6xl);
  color: var(--color-gray-100);
}
.usernameParent {
  top: 309px;
  left: 659px;
  height: 64px;
  color: var(--color-black);
}
.password {
  cursor: pointer;
  position: absolute;
  top: 0;
  left: 0;
  font-weight: 700;
  display: inline-block;
  width: 223px;
}
.passwordParent {
  position: absolute;
  top: 413px;
  left: 657px;
  width: 562px;
  height: 64px;
  color: var(--color-black);
}
.rectangleDiv {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-9xs);
  background-color: var(--primary-color);
  width: 562px;
  height: 41px;
}
.signIn2 {
  position: absolute;
  top: 12px;
  left: 192px;
  font-size: var(--font-size-base);
  display: inline-block;
  font-family: var(--font-inter);
  color: var(--neutral-white);
  text-align: center;
  width: 139px;
}
.mustBeAt,
.rectangleParent {
  position: absolute;
  left: 659px;
}
.rectangleParent {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  top: 523px;
  width: 562px;
  height: 41px;
}
.rectangleParent:hover {
  animation: 1s ease 0s infinite normal none shadow-pop-tr;
  opacity: 1;
}
.mustBeAt {
  top: 387px;
  font-size: 10px;
  display: inline-block;
  width: 223px;
}
.areYouNew,
.mustBeAt {
  color: var(--color-gray-100);
}
.signUp {
  color: var(--primary-color);
}
.areYouNewContainer {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  position: absolute;
  top: 635px;
  left: 802px;
  font-size: var(--font-size-sm);
  font-weight: 600;
  font-family: var(--font-inter);
  text-align: left;
  display: inline-block;
  width: 248px;
  filter: drop-shadow(0 4px 4px rgba(0, 0, 0, 0.25));
}
.div,
.vectorIcon,
.vectorIcon2 {
  width: 15px;
  position: relative;
  height: 14px;
}
.div,
.vectorIcon2 {
  width: 14px;
}
.div {
  width: 18px;
  display: inline-block;
  height: 15px;
  flex-shrink: 0;
}
.vectorGroup {
  position: absolute;
  top: 504px;
  left: 231px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 5px;
}
.text {
  position: absolute;
  top: 213px;
  left: 73px;
  font-size: 56px;
  display: inline-block;
  width: 495px;
  height: 137px;
}
.from200Reviews {
  position: absolute;
  top: 24px;
  left: 156px;
}
.from200ReviewsParent,
.groupIcon {
  position: absolute;
  top: 0;
  left: 0;
  width: 147px;
  height: 43px;
}
.from200ReviewsParent {
  top: 499px;
  left: 75px;
  width: 263px;
}
.fichier141,
.vectorIcon5,
.vectorIcon6 {
  position: absolute;
  top: 121px;
  left: 80px;
  width: 54px;
  height: 54px;
  overflow: hidden;
  object-fit: contain;
}
.vectorIcon5,
.vectorIcon6 {
  height: 1.94%;
  width: 1.09%;
  top: 16.67%;
  right: 93.2%;
  bottom: 81.39%;
  left: 5.7%;
  max-width: 100%;
  max-height: 100%;
}
.vectorIcon6 {
  height: 1.25%;
  width: 0.7%;
  top: 18.26%;
  right: 89.38%;
  bottom: 80.49%;
  left: 9.92%;
}
.signIn {
  width: 100%;
  position: relative;
  background-color: var(--neutral-white);
  height: 720px;
  overflow: hidden;
  text-align: left;
  font-size: var(--font-size-xs);
  color: var(--neutral-white);
  font-family: var(--font-inter);
}
