@keyframes shadow-pop-tr {
  0% {
    box-shadow: 0 0 rgba(62, 62, 62, 0.18), 0 0 rgba(62, 62, 62, 0.18),
      0 0 rgba(62, 62, 62, 0.18), 0 0 rgba(62, 62, 62, 0.18),
      0 0 rgba(62, 62, 62, 0.18), 0 0 rgba(62, 62, 62, 0.18),
      0 0 rgba(62, 62, 62, 0.18), 0 0 rgba(62, 62, 62, 0.18);
    transform: translateX(0) translateY(0);
  }
  to {
    box-shadow: 1px -1px rgba(62, 62, 62, 0.18), 2px -2px rgba(62, 62, 62, 0.18),
      3px -3px rgba(62, 62, 62, 0.18), 4px -4px rgba(62, 62, 62, 0.18),
      5px -5px rgba(62, 62, 62, 0.18), 6px -6px rgba(62, 62, 62, 0.18),
      7px -7px rgba(62, 62, 62, 0.18), 8px -8px rgba(62, 62, 62, 0.18);
    transform: translateX(-8px) translateY(8px);
  }
}
.groupChild {
  position: absolute;
  top: 0;
  left: 7px;
  border-radius: var(--br-xs);
  background-color: var(--color-mediumslateblue-100);
  width: 65px;
  height: 50px;
}
.rectangleParent,
.signUp1 {
  position: absolute;
  width: 335px;
}
.signUp1 {
  margin: 0;
  top: 66px;
  left: 0;
  font-size: inherit;
  font-weight: 700;
  font-family: inherit;
  display: inline-block;
}
.rectangleParent {
  top: 40px;
  left: 592px;
  height: 95px;
}
.signUpChild,
.signUpItem {
  border: 1px solid var(--color-silver);
  outline: 0;
  font-family: var(--font-inter);
  font-size: var(--font-size-base);
  background-color: transparent;
  left: 658px;
  box-sizing: border-box;
  width: 578px;
}
.signUpChild {
  position: absolute;
  top: 273px;
  border-radius: var(--br-9xs);
  height: 60px;
  padding: var(--padding-xl) var(--padding-6xl) var(--padding-2xl);
  color: var(--color-gray-200);
}
.signUpItem {
  top: 365px;
  height: 61px;
  padding: var(--padding-lgi) var(--padding-6xl) var(--padding-4xl);
  color: var(--color-darkslategray-100);
}
.groupItem,
.signUpInner,
.signUpItem {
  position: absolute;
  border-radius: var(--br-9xs);
}
.signUpInner {
  border: 1px solid var(--color-silver);
  outline: 0;
  font-family: var(--font-inter);
  font-size: var(--font-size-base);
  background-color: transparent;
  top: 365px;
  left: 90px;
  box-sizing: border-box;
  width: 448px;
  height: 59px;
  padding: var(--padding-4xl) var(--padding-5xl) var(--padding-mid);
  color: var(--color-darkslategray-100);
}
.groupItem {
  top: 0;
  left: 0;
  background-color: var(--primary-color);
  width: 562px;
  height: 52px;
}
.singUp {
  position: absolute;
  top: 13px;
  left: 227px;
  font-size: var(--font-size-xl);
  display: inline-block;
  font-family: var(--font-inter);
  color: var(--neutral-white);
  text-align: left;
  width: 242px;
  height: 27px;
}
.rectangleGroup {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  position: absolute;
  top: 607px;
  left: 365px;
  width: 562px;
  height: 52px;
}
.rectangleGroup:hover {
  animation: 1s ease 0s infinite normal none shadow-pop-tr;
  opacity: 1;
}
.vectorIcon,
.vectorIcon1,
.vectorIcon2,
.vectorIcon4 {
  position: absolute;
  height: 1.94%;
  width: 1.09%;
  top: 5.28%;
  right: 95.23%;
  bottom: 92.78%;
  left: 3.67%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: contain;
}
.vectorIcon1,
.vectorIcon2,
.vectorIcon4 {
  top: 6.53%;
  right: 62.27%;
  bottom: 91.53%;
  left: 36.64%;
}
.vectorIcon2,
.vectorIcon4 {
  height: 1.25%;
  width: 0.7%;
  top: 5.56%;
  right: 3.52%;
  bottom: 93.19%;
  left: 95.78%;
}
.vectorIcon4 {
  height: 1.94%;
  width: 1.09%;
  top: 3.33%;
  right: 55.47%;
  bottom: 94.72%;
  left: 43.44%;
}
.groupInput,
.signUpChild1 {
  outline: 0;
  font-family: var(--font-inter);
  font-size: var(--font-size-base);
  background-color: transparent;
  left: 90px;
  width: 448px;
  padding: var(--padding-4xl) var(--padding-5xl) var(--padding-mid);
  color: var(--color-darkslategray-100);
}
.groupInput {
  border: 1px solid var(--color-silver);
  position: absolute;
  top: 286px;
  border-radius: var(--br-9xs);
  box-sizing: border-box;
  height: 59px;
}
.signUpChild1 {
  top: 465px;
}
.groupInner,
.signUpChild1,
.smeParent {
  position: absolute;
  border-radius: var(--br-9xs);
  border: 1px solid var(--color-silver);
  box-sizing: border-box;
  height: 59px;
}
.smeParent {
  top: 185px;
  left: 657px;
  background-color: transparent;
  width: 578px;
  padding: var(--padding-lg) var(--padding-4xl) var(--padding-3xl);
  font-family: var(--font-inter);
  font-size: var(--font-size-base);
  color: var(--color-gray-200);
}
.groupInner {
  top: 0;
  left: 0;
  width: 448px;
}
.uploadYouProfile {
  position: absolute;
  top: 12px;
  left: 105px;
  font-weight: 500;
  display: flex;
  align-items: center;
  width: 264px;
  height: 37px;
}
.vectorIcon6 {
  position: absolute;
  height: 64.41%;
  width: 6.47%;
  top: 20.34%;
  right: 88.17%;
  bottom: 15.25%;
  left: 5.36%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.label {
  cursor: pointer;
}
.input {
  display: none;
}
.parent {
  position: absolute;
  top: 192px;
  left: 90px;
  width: 448px;
  height: 59px;
  font-size: var(--font-size-base);
  color: var(--dark);
  font-family: var(--font-dm-sans);
}
.signUp,
.signUpChild2 {
  font-family: var(--font-inter);
}
.signUpChild2 {
  border: 1px solid var(--color-silver);
  outline: 0;
  font-size: var(--font-size-mini);
  background-color: transparent;
  position: absolute;
  top: 465px;
  left: 656px;
  border-radius: var(--br-9xs);
  box-sizing: border-box;
  width: 580px;
  height: 59px;
  padding: 21.6px 25.1px 20.4px;
  color: var(--color-gray-200);
}
.signUp {
  width: 100%;
  position: relative;
  background-color: var(--neutral-white);
  height: 720px;
  overflow: hidden;
  text-align: left;
  font-size: var(--font-size-5xl);
  color: var(--color-black);
}
